
AcMan.Server/bin/Debug/netcoreapp2.0/AcMan.Server.dll
AcMan.Server/bin/Debug/netcoreapp2.0/AcMan.Server.dll
*.cache
*.lock
.vs/AcMan/v15/.suo
.vs/AcMan/DesignTimeBuild/.dtbcache
*.cache
*.cache
*.cache
AcMan.Desktop/obj/Debug/AcMan.Desktop.csproj.CoreCompileInputs.cache
*.cache
AcMan.HttpApiClient/obj/AcMan.HttpApiClient.csproj.nuget.cache
AcMan.HttpApiClient/obj/project.assets.json
*.dll
.vs/AcMan/v15/Server/sqlite3/storage.ide
.vs/AcMan/v15/Server/sqlite3/storage.ide-shm
.vs/AcMan/v15/Server/sqlite3/storage.ide-wal
AcMan.Desktop/obj/Debug/AcMan.Desktop.csproj.CoreCompileInputs.cache
AcMan.Desktop/obj/Debug/AcMan.Desktop_MarkupCompile.cache
*.cache
AcMan.Server/obj/AcMan.Server.csproj.nuget.cache
UpgradeLog3.htm
AcMan.Server/obj/project.assets.json
*.dll
*.pdb
*.cache
*.cache
